@model IEnumerable<StudentStreamingSystem.Context.Course>
@{
    ViewBag.Title = "Course Upload";
}


<h2>Upload Course Excel</h2>
<br />
@using (Html.BeginForm("UploadExcelCourse", "Course", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{


    <div class="form-group">

        @*<div class="control-label row-cols-md-4">Upload Course Excel</div>*@
        <div class="control-label row-cols-4">
            <input type="file" id="FileUpload" name="FileUpload" class="btn btn-outline-primary" />&nbsp;<input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
        </div>

    </div>

}


<h2>Course List</h2>

@* Normal and ThemeRoller*@
<table id="courseTable" class="display">

    @*Semantic UI*@
    @*<table id="employeeTable" class="ui celled table">*@

    @*Bootstrap*@
    @*<table id="employeeTable" class="table table-striped table-bordered">*@

    <thead>
        <tr>
            <th>CourseNo</th>
            <th>CourseName</th>
            <th>Programme</th>
            <th>Campus</th>
            <th>Credits</th>
            <th>Streams</th>
            <th>BeginsAt</th>
            <th>EndsAt</th>
            <th>ClassType</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>CourseNo</th>
            <th>CourseName</th>
            <th>Programme</th>
            <th>Campus</th>
            <th>Credits</th>
            <th>Streams</th>
            <th>BeginsAt</th>
            <th>EndsAt</th>
            <th>ClassType</th>
        </tr>
    </tfoot>
</table>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

<!-- jQuery ThemeRoller -->
<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" rel="stylesheet" />

<!-- Semantic UI -->
@*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />*@

<!-- Bootstrap 4 -->
@*<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

@section scripts{
    @* Normal *@
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


    @* jQuery ThemeRoller*@
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>

    @* Semantic UI*@
    @*<script src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>*@

    @* Bootstrap 4*@
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>*@




    <script>
        $(document).ready(function () {

            function getDateString(date) {
                var dateObj = new Date(parseInt(date.substr(6)));
                return dateObj.toDateString();
            }

            $("#courseTable").DataTable(
                {
                    "ajax": {
                        "url": "/Course/GetList",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "CourseNo" },
                        { "data": "CourseName" },
                        { "data": "Programme" },
                        { "data": "Campus" },
                        { "data": "Credits" },
                        { "data": "Streams" },
                        {
                            "data": "BeginsAt",
                            "render": function (data) { return getDateString(data); }
                        },
                        {
                            "data": "EndsAt",
                            "render": function (data) { return getDateString(data); }
                        },
                        { "data": "ClassType" }
                    ]

                });

        });

    </script>

}